.ad7{ 
	width: 1000px;
	height: 100px;
	margin: 20px auto 0 auto;
}


.position_box{ 
	width: 1000px;
	height: 30px;
	margin: 0 auto;
	padding-top: 10px;
	line-height: 30px;
	color: #666;
}

.position_box a{ 
	color: #666;
	padding: 3px;
}

.position_box a:hover{ 
	color: #e41220;
}



.main2{ 
	clear: both;
	width: 1000px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}

.main2_left{ 
	width: 740px;
	height: auto;
	float: left;
	border: 1px solid #ccc;
}

.list_box{ 
	width: 700px;
	height: auto;
	padding: 10px 20px 0 20px;
}

.list_box ul{ 
	display: block;
	clear: both;
	overflow: hidden;
}

.list_box li{ 
	display: block;
	width: 685px;
	height: 30px;
	padding-left:15px; 
	line-height: 30px;
	border-bottom: 1px dashed #ccc;
	background: url(../images/list_icon.png) no-repeat left center;
}

.list_box li a{ 
	display: block;
	width: 500px;
	float: left;
	color: #666;
}

.list_box li span{ 
	width: 100px;
	float: right;
	color: #666;
	text-align: right;
}



.submenu{ 
	clear: both;
	width: 740px;
	height: 30px;
	padding: 35px 0;
}
.submenu ul{ 
	display: block;
	width: 510px;
	margin: 0 auto;
}

.submenu li{ 
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	float: left;
	padding: 0 5px ;
	text-align: center;
	color: #666;
}

.submenu li.w70{ 
	width: 70px;
}
.submenu li.w50{ 
	width: 50px;
}

.submenu li.w60{ 
	width: 60px;
}


#pageinput{ 
	width: 24px;
	height:24px;
	border: 1px solid #ccc;
	margin:3px 5px;
	outline: none;
	text-align: center;
}

.submenu li a{ 
	display: block;
	color: #666;
	border: 1px solid #ccc;
	text-decoration: none;
}

.submenu li a:hover{ 
	color: #fff;
	border: 1px solid #e41220;
	background-color: #e41220;
}

.submenu li.current a{ 
	color: #fff;
	border: 1px solid #e41220;
	background-color: #e41220;
}

.main_right{ 
	width: 242px;
	height: auto;
	float: right;
}

.main_right ul{ 
	display: block;
	clear: both;
	overflow: hidden;
}

.main_right li{ 
	width: 240px;
	height: 270px;
	margin-top: 20px;
}

.main_right li.mt0{ 
	margin-top: 0px;
}


.float_adl{ 
	width: 150px;
	height: 279px;
	position: fixed;
	top:150px;
	left:0px;
}

#closeButtonleft{
	display: block;
	width: 20px;
	height: 20px;
	position: relative;
	margin-left: 130px;
	margin-top: -282px;
}


.float_adr{ 
	width: 150px;
	height: 279px;
	position: fixed;
	top:150px;
	right:0px;
}

#closeButtonright{
	display: block;
	width: 20px;
	height: 20px;
	position: relative;
	margin-top: -282px;
}



.focus1{ position:relative; width:1000px; height:100px; overflow: hidden;}  
.focus1 img{ width: 1000px; height:100px;} 
.focus1 .shadow .title{width: 260px; height: 65px;padding-left: 30px;padding-top: 20px;}
.focus1 .shadow .title a{ text-decoration:none; color:#fff; font-size:14px; font-weight:bolder; overflow:hidden; }
.focus1 .btn{ position:absolute; bottom:34px; left:510px; overflow:hidden; zoom:1;} 
.focus1 .btn a{position:relative; display:inline; width:13px; height:13px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }  
.focus1 .btn a:hover,.focus .btn a.current{  cursor:pointer;background:#fc114a;}  
.focus1 .fPic{ position:absolute; left:0px; top:0px; }  
.focus1 .D1fBt{ overflow:hidden; zoom:1;  height:16px; z-index:10;  }  
.focus1 .shadow{ width:100%; position:absolute; bottom:0; left:0px; z-index:10; height:30px; line-height: 30px; background:rgba(0,0,0,0.6);    
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block;  text-align:left; }  
.focus1 .shadow a{ text-decoration:none; color:#fff; font-size:20px; overflow:hidden; margin-left:10px; font-family: "\5FAE\8F6F\96C5\9ED1";}  
.focus1 .fcon{ position:relative; width:100%; float:left;  display:none; background:#000  }  
.focus1 .fcon img{ display:block; }  
.focus1 .fbg{bottom:0px; right:10px; position:absolute; height:21px; text-align:center; z-index: 200; }  
.focus1 .fbg div{margin:4px auto 0;overflow:hidden;zoom:1;height:14px}    
.focus1 .D1fBt a{position:relative; display:inline; width:6px; height:6px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; border: 1px solid #ccc; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }    
.focus1 .D1fBt .current,.focus .D1fBt a:hover{background:#fc114a;}    
.focus1 .D1fBt img{display:none}    
.focus1 .D1fBt i{display:none; font-style:normal; }    
.focus1 .prev,.focus .next{position:absolute;width:40px;height:74px;background: url(../images/focus_btn.png) no-repeat;}
.focus1 .prev{top: 50%;margin-top: -37px; left: 0;background-position:0 -74px; cursor:pointer; }  
.focus1 .next{top: 50%;margin-top: -37px; right: 0;  background-position:-40px -74px;  cursor:pointer;}  
.focus1 .prev:hover{  background-position:0 0; }  
.focus1 .next:hover{  background-position:-40px 0;}  